#!/bin/sh

#
# Program: vocload.config
#
# Purpose:
#
#   Vocabulary load configuration file for PIRSF load
#
# Usage:
#
#   Execute this file from a script or command line
#
# History:
#
#	12/21/2009	sc
#		-created
#

RUNTIME_DIR=${OUTPUTDIR}
ARCHIVE_DIR=${ARCHIVEDIR}
REPORTS_DIR=${RPTDIR}

export RUNTIME_DIR ARCHIVE_DIR REPORTS_DIR

MAINTAINER="sc"

export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Protein Ontology"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0     # name of note types for comments
JNUM="J:155221"		# reference for this vocabulary
IS_SIMPLE=1		# structured vocabulary
IS_PRIVATE=0		# acc IDs are public 
LOGICALDB_KEY=135        # ACC_LogicalDB._LogicalDB_key
CREATED_BY=${CREATEDBY}

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export CREATED_BY

DATA_FILE=${INPUTDIR}/provoc.txt
TERM_FILE=${OUTPUTDIR}/provoc.txt
export DATA_FILE TERM_FILE

DAG_ROOT_ID=""
export DAG_ROOT_ID

